body{
	background-image: url('background.jpg');
	background-position: center center;
	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-size: cover;
 	color:white;
}
/**************************** PRINCIPAL ****************************/
header{
    font-size:60pt;
    color:white;
    position: absolute;
    top:30%;
    right:15%;
}
/***************************** JUEGO *****************************/
#vd_container{
    position:absolute;
    top:18%;
    right:12%;
    height: 600px;
    width: 940px;
    /*z-index: 1;*/
    /*
    overflow:hidden;
    padding-left: 15%;
    padding-right: 15%;*/
}
#mivideo{
     min-width: 100%;/*Defines the minimum width in percent of the containing block, en este caso, 600x900*/
     min-height: 100%;
     width: 100%;
     height: 100%;

}
#content{
    height: 900px;
    width: 940px;   
    padding-left: 15%;
    padding-right: 15%;
    position:absolute;
    top:35%;
}
#micanvas {
  min-width: 100%;/*Defines the minimum width in percent of the containing block, en este caso, 400x300*/
  min-height: 100%;
  width: 100%;
  height: 100%;
}

/****************************** MENU ******************************/
#contenedor{
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#desplegable { 
    color:#FFFF00;
    padding:16px;
    cursor: pointer;
    display:block;
    margin:auto;
}
.menu {
    display:block;
    margin:auto;
}
.menu-contenido {
    display: none;
    background-color: black; 
    padding:12px 160px;
}
.menu-contenido a {
    color:white;
    padding:12px 16px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.menu-contenido a:hover {
    background-color:black;
    margin-left: auto;
    margin-right: auto;
}
.menu:hover .menu-contenido {
    display:block;
   /* z-index: 2;*/
}
.menu:hover .boton { 
    color:black;
 }
.menu:hover .dropdown {
    background-color:black;
}

/****************************** DIBUJO ******************************/
#micanvas2{
    border:solid;
}
.herramientas img:hover{
    border:solid black 1px;
}