body{
    background-image: url('background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
}
/**************************** PRINCIPAL ****************************/
header{
    font-size:60pt;
    color:white;
    position: absolute;
    top:30%;
    right:15%;
}
/***************************** JUEGO *****************************/
#vd_container{
    /*background-color: grey;*/
    margin-top: 10%;
    position:fixed;
    height: 528px;
    width: 940px;
    overflow:hidden;
    padding-left: 15%;
    padding-right: 15%;
    z-index: -20;
}
#mivideo{
    height: 528px;
    width: 940px;
    /*min-width: 100%;/*Defines the minimum width in percent of the containing block, en este caso, 600x900*/
   /* min-height: 100%;
    /*width: 100%;
    height: 100%;*/
}
#content{
    margin-top: 10%;
    position:fixed;
    height: 528px;
    width: 940px;
    overflow:hidden;
    padding-left: 15%;
    padding-right: 15%;
    z-index: -10;
}
#micanvas {
    /*min-width: 70%;/*Defines the minimum width in percent of the containing block, en este caso, 600x900*/
    min-height: 95.5%;
    width: 940;
    height: 100%;
    margin-top: 0%;*/
}
#div_pause {
    position:fixed;
    top: 100px;
    height: 528px;
    width: 100%;
}
#button_play {
    margin-top: 18%;
    margin-left: 35%;
    min-height: 20%;
    min-width: 11%;
    background-image: url("logo_play_3.png");
    background-color: transparent;
    border-color: transparent;;
    background-position: center;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

#button_pause {
    margin-top: 4%;
    margin-left: 15%;
    min-height: 10%;
    min-width: 5%;
    background-image: url("logo_pause.png");
    background-color: transparent;
    border-color: transparent;
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
#button_refresh_1 {
    margin-top: 20%;
    margin-left: 3%;
    min-height: 20%;
    min-width: 10%;
    background-image: url("logo_refresh.png");
    background-color: transparent;
    border-color: transparent;;
    background-position: center;
    background-size: 120px 120px;
    background-repeat: no-repeat;
}
#button_refresh_2 {
    margin-top: 0.5%;
    min-height: 10%;
    min-width: 5%;
    background-image: url("logo_refresh.png");
    background-color: transparent;
    border-color: transparent;
    background-position: center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}
#gameover{
    position:fixed;
    margin-top: 15%;
    margin-left: 30%;

}
#volverinicio{
    margin-top: 20%;
    margin-left: 3%;
    min-height: 20%;
    min-width: 10%;
    background-image: url('volver_inicio.png');
    background-position: center;
    background-size: 70px 70px;
    background-repeat: no-repeat;
}

/****************************** MENU ******************************/
#contenedor{
    width:300px;
    height:460px;
    position:absolute;
    right:32%;
}
.desplegable { 
    color:#FFFF00;
    cursor:pointer;
    display:block;
}
.menu {
    display:block;
    margin:auto;
}
.menu-contenido {
    display: none;
    background-color: black; 
    position: absolute;
    left:30%;
    top:2%;
}
.menu-contenido a {
    color:white;
    padding:6px;
    display:block;
}
.menu-contenido a:hover {
    background-color:black;
}
.menu:hover .menu-contenido {
    display:block;
}
.menu:hover .boton { 
    color:black;
 }
.menu:hover .dropdown {
    background-color:black;
}
.visible{
    display:block;
}
.invisible{
    display:none;
}
/****************************** PIE PAGINA ******************************/
footer {
    color:white;
    position: absolute;
    left:5%;
    top:80%;
    font-family: "Georgia", Times, serif;
    font-size:18pt;
}
footer a:link {
  color: white;
  position:absolute;
  left:40%;
}
/****************************** DIBUJO ******************************/
#micanvas2{
    border:solid;
    background-color: white;
}
.herramientas {
    position: fixed;
    left: 650;
    top:250;
}
#dibujocanvas{
    position:fixed;
    top:250;
    left:300;
}
#dibujocanvas p{
    color:white;
}
